<div class="container">
<div style="align:center">
  <h2>List of Records</h2>

  <div>
      <i class="fa fa-search" aria-hidden="true"></i>
    <input type="text"/>
  </div>
  <input [(ngModel)]="search" placeholder="search text goes here">
  <ul>
    <li *ngFor="let c of studentsDetails ">
      {{c.name}}
    </li>
  </ul>
  <!-- <button (click)="setToaster()">toaster</button> -->

  <!-- <button (click)="addStudent()">add</button>
  <div>
    <label>Name</label>
    <input ctype="text" [(ngModel)]="sName" placeholder="Name" />
    <label>Email</label>
    <input type="email" [(ngModel)]="sEmail" placeholder="Email" />
    <label>Location</label>
    <input type="text" [(ngModel)]="sLocation" placeholder="Location" />
    <button (click)="getStudent()">Addstudent</button>
  </div> -->
  <table id="records">
    <tr>
      <th style="width: 20%">Name</th>
      <th style="width: 20%">Email</th>
      <th style="width: 20%">Phone</th>
      <th style="width: 20%"><button class="btn" (click)="addStudent()"><i class="fa fa-plus-square"></i></button></th>
    </tr>
    <!-- <tr *ngIf="change = true">
        <td></td>
        <td></td>
        <td></td>
    </tr> -->
    <tr *ngFor="let val of studentsDetails | paginate: { itemsPerPage: 7, currentPage: p }; let i = index ">

      <!-- <td>
        <ng-container *ngIf="i != selectedIndex">
          {{val.name}}
        </ng-container>
        <ng-container *ngIf="i == selectedIndex">
            <input [(ngModel)] = "val.name">
        </ng-container>
      </td>
      <td>
          <ng-container *ngIf="i != selectedIndex">
            {{val.email}}
          </ng-container>
          <ng-container *ngIf="i == selectedIndex">
              <input [(ngModel)] = "val.email">
          </ng-container>
        </td>
        <td>
            <ng-container *ngIf="i != selectedIndex">
              {{val.location}}
            </ng-container>
            <ng-container *ngIf="i == selectedIndex">
                <input [(ngModel)] = "val.location">
            </ng-container>
            
          </td> 

          
          <td>
              <button *ngIf="i == selectedIndex" class="btn" (click)="saveRecords(); selectedIndex = !selectedIndex"><i class="fa fa-save"></i></button>&nbsp;&nbsp; 
              <button *ngIf="i == selectedIndex" type="reset" class="btn" (click)="close()" ><i class="fa fa-close"></i></button>
            </td>
      
       <ng-container *ngIf="editable   " >
          <td ><input type="text" [(ngModel)]="val.name"/></td> 
           <td ><input type="text" [(ngModel)]="val.email"/></td>
          <td ><input type="text" [(ngModel)]="val.location"/></td> 
          <td>
              <button class="btn" (click)="saveRecords()"><i class="fa fa-save"></i></button>&nbsp;&nbsp; 
              <button type="reset" class="btn" (click)="close()" ><i class="fa fa-close"></i></button>
            </td>
          </ng-container>
    
      <ng-container ><td >{{val.name}}</td>
      <td>{{val.email}}</td>
      <td>{{val.location}}</td> 
      <td> 
        <button class="btn" (click)="editRecords(); selectedIndex = i"><i class="fa fa-edit"></i></button>&nbsp;&nbsp; 
        <button class="btn" (click)="clear(val.name)"><i class="fa fa-close"></i></button>
      </td>
    </ng-container>  -->

      <td>
        <span *ngIf="!val.editable">{{val.name}}</span>
        <input *ngIf="val.editable" [(ngModel)]="val.name">
      </td>
      <td>
        <span *ngIf="!val.editable">{{val.email}}</span>
        <input *ngIf="val.editable" [(ngModel)]="val.email">
      </td>
      <td>
        <span *ngIf="!val.editable">{{val.phone}}</span>
        <input *ngIf="val.editable" [(ngModel)]="val.phone">&nbsp;&nbsp;

      </td>
      <td>
        <button *ngIf="val.editable" class="btn" (click)="saveRecords(val)"><i class="fa fa-save"></i></button>&nbsp;&nbsp;
        <button *ngIf="val.editable" class="btn" (click)="ngOnInit();val.editable = !val.editable"><i class="fa fa-close"></i></button>
        <button *ngIf="!val.editable " class="btn" (click)="editRecords(val)"><i class="fa fa-edit"></i></button>&nbsp;&nbsp;
        <button *ngIf="!val.editable" class="btn" (click)="onModalChange(content)"><i class="fa fa-trash"></i></button>
      </td>


      <!--Modal template-->
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-primary-title">Do you want to delete the record?</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{val | json}}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="clear(val.name); modal.close()">Ok</button>
          <button class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
        </div>
      </ng-template>
    </tr>

  </table><br>
  <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
</div>
</div>